{% extends 'layout.html.twig' %}
{% block content%}
    <div class="row">
        <div class="col-lg-offset-2 col-md-8">
            <h2>Waarom DevOpsCenter?</h2>
            <p>DevOpsCenter is een Slack team opgericht met het doel om een thuisbasis te vormen voor DevOps Developers en DevOps Usergroups binnen Nederland.
                Dit initiatief is ge&iuml;nspireerd door de oprichting van PHPNL's Slack team.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-offset-2 col-md-8">
            <hr>
            <h2>Aanmelden</h2>
            <p>Iedereen is welkom op het Slack kanaal. Via onderstaand formulier
                kan je een invite aanvragen om daarna zelf een account te kunnen aanmaken voor het Slack team van
                DevOpsCenter.
            </p>
        </div>
    </div>
{% endblock %}